<ion-view view-titie="Patient Materials">

	<ion-nav-title>
		<div class="image-title" ng-click="onTapImgTitle()"></div>
	</ion-nav-title>
	
	<ion-content has-bouncing="false">

		<div class="pm-header">
			<div class="pm-header-title" ng-bind-html="CONFIG.pm.title"></div>
			<div class="pm-header-content" ng-bind-html="CONFIG.pm.content"></div>
		</div>

		<div class="page-green-footer">
		</div>

		<div class="page-card-section">
			<div class="row responsive-pr page-row">
				<div class="col">
					<div class="pm-card btn-smooth" ng-click="onKYNum()">
						<div class="pm-card-inner-title vert-align-48">Know Your<sup class="sup-tm">TM</sup> Numbers</div>
					</div>
				</div>
				<div class="col">
					<div class="pm-card btn-smooth" ng-click="onKYNut()">
						<div class="pm-card-inner-title vert-align-48">Know Your<sup class="sup-tm">TM</sup> Nutrition</div>
					</div>
				</div>
			</div>

			<div class="row responsive-pr page-row">
				<div class="col">
					<div class="pm-card btn-smooth" ng-click="onKYHS()">
						<div class="pm-card-inner-title vert-align-48">Know Your<sup class="sup-tm">TM</sup> Healthy Steps</div>
					</div>
				</div>
				<div class="col">
					<div class="pm-card btn-smooth" ng-click="onKYDHD()">
						<div class="pm-card-inner-title vert-align-48">Know Your<sup class="sup-tm">TM</sup> Health Facts - Diabetes & Heart Disease</div>
					</div>
				</div>
			</div>

			<div class="row responsive-pr page-row">
				<div class="col">
					<div class="pm-card btn-smooth" ng-click="onKYGD()">
						<div class="pm-card-inner-title vert-align-48">Know Your<sup class="sup-tm">TM</sup> Health Facts - Gestational Diabetes</div>
					</div>
				</div>
				<div class="col">
					<div class="pm-card btn-smooth" ng-click="onKYFS()">
						<div class="pm-card-inner-title vert-align-48">Know Your<sup class="sup-tm">TM</sup> Health Facts - Flu Season</div>
					</div>
				</div>
			</div>

			<div class="row responsive-pr page-row">
				<div class="col">
					<div class="pm-card btn-smooth" ng-click="onPSJ()">
						<div class="pm-card-inner-title vert-align-48">Portfolio Slim Jim</div>
					</div>
				</div>
				<div class="col">
					<div class="pm-card btn-smooth" ng-click="onCNESTP()">
						<div class="pm-card-inner-title vert-align-48">CONTOUR<sup>®</sup>NEXT<br>Easy Start Guide</div>
					</div>
				</div>
			</div>

			<div class="row responsive-pr page-row">
				<div class="col-50">
<!-- 					<div class="pm-card btn-smooth" ng-click="onDTP()">
						<div class="pm-card-inner-title vert-align-48">Demo Tear Pad</div>
					</div> -->
					<div class="pm-card btn-smooth" ng-click="onCNEESTP()">
						<div class="pm-card-inner-title vert-align-48">CONTOUR<sup>®</sup>NEXT EZ<br>Easy Start Guide</div>
					</div>
				</div>
				<div class="col-50">
				</div>
			</div>

			<div class="pm-disclaimer">
				©2016 Bayer. All rights reserved. Bayer (reg’d), the Bayer Cross (reg’d), CONTOUR<sup>®</sup>, No Coding, Second-Chance logo, MULTIPULSE, and the MULTIPULSE logo are trademarks of Bayer.<br>
				Brought to you by Ascensia Diabetes Care.
			</div>
		</div>

	</ion-content>
</ion-view>
